{% extends "layout.html" %}
{% block content %}
<div id="page-wrapper">
    <h1>WebSockets Demo</h1>
    <ul id="messages"></ul>
    <form id="message-form" onsubmit="return submit_form()">
        <textarea id="message" placeholder="Write your message here..." required></textarea>
        <button type="submit">Send Message</button>
    </form>

    <button type="button" id="close" onclick="close_socket()">Close Connection</button>
    <button type="button" id="large_payload" onclick="send_large_data()">Large Payload</button>

</div>
<script type="text/javascript" charset="utf-8">
    var protocol = window.location.protocol === "https:" ? "wss:" : "ws:";
    var host = window.location.host;
    var socket = new WebSocket(protocol + "//" + host + "/mywsdemo");
    socket.onopen = function () {
        console.log('Connected to: ' + event.currentTarget.url, 'open');
    };
    socket.onclose = function (evt) {
        console.log('Disconnected from WebSocket.', 'closed');
    };
    socket.onmessage = function (event) {
        // handle messages here
        if (typeof event.data === 'string') {
            // Text message
            console.log('Received text message:' , event.data);
        } else {
            // Binary message
            console.log('Received binary message:', event.data, socket.binaryType);
        }
    };
    socket.onerror = function (evt) {
        console.log('WebSocket Error: ' + evt, 'error');
    };

    function send_large_data() {
        const largeData = new ArrayBuffer(20 * 1024 * 1024); // xMB
        const uint8Array = new Uint8Array(largeData);
        for (let i = 0; i < uint8Array.length; i++) {
            uint8Array[i] = Math.floor(Math.random() * 256);
        }
        socket.send(uint8Array);
    }
    function close_socket() {
        socket.close();
    }

    function submit_form() {
        var messageField = document.getElementById('message');
        var message = messageField.value;
        socket.send(message);
        // Clear out the message field.
        messageField.value = '';
        return false;
    }
</script>
{% endblock %}